
*{  
    margin: 0px;
    border: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.navigation{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
    height: 50px;
    width: 100px;

}
.logo{
    height: 50px;
    width: 100%;
    background: url("amazon_logo.png");
    background-size: cover;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
.add-first{
    color:#cccccc;
    font-size: 0.7rem;
    margin-left: 15px;
    
}
.add-second{
    font-size: 1rem;
    margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}
.nav-search{
 display: flex;
 justify-content: space-evenly;
 width: 620px;
 background-color: pink;
 height: 40px;
 border-radius: 4px;
}
.search-sel{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgb(255, 174, 0);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111 ;
}
.nav-search:hover{
    border: 2px solid orange;
}




span{
    font-size: 0.7rem;
}
.nav-sec{
    font-size: 0.85rem;
    font-weight: 700;
}
span{
    font-size: 0.7rem;
}
.nav-thrd{
    font-size: 0.85rem;
    font-weight: 700;
}



.nav-cart i{
  font-size: 30px;
}

.nav-cart{
    font-size: 0.8rem;
    font-weight: 700;
  }




.pannel{
    display: flex;
    height: 40px;
    background-color: #222f3d;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
 
.pannel-opt p{
    display: inline;
    margin-left: 15px;
}
.pannel-opt{
    width: 70%;
    font-size: 0.85rem;
}
.pannel-deal{
    font-weight: 700;
    font-size: 0.9  rem;
}


.hero-section{
    background-color: #EAEDED;
    width: 1520px;
    height: 100px;
   padding-top: 20px;
    
}

.hero-msg{
    background-color: white;
    color: black;
    height: 500px ;
    
   
    font-size: 0.85rem;
    width: 1560px;
    margin-bottom: 25px;
}
.hero-msg h2{
    padding-top: 20px;
    font-weight: 700;
    font-size:larger;
    padding-left: 10px;
}
.hero-msg h3{
    padding-top: 20px;
    font-weight: 400;
    padding-left: 10px;


}
.hero-msg a{
    color: #007185;
}


.hero-section1{
    background-color: #EAEDED;
    width: 1520px;
    height: 200px;
   padding-top: 40px;
    
}

.hero-msg1 h4{
    
    padding-top: 30px;
    font-weight: 400;
    padding-left: 10px;
    font-weight: 600;

}

.add-icon1{
    
    padding-left: 20px;
    font-size: 40px;
    padding-top: 20px;
    width: 50px;
   height: 50px;
    margin-left: 75px;
    margin-top: 15px;
    border-left: 1.5px solid black;
    border-bottom: 1.5px solid black;
    border-right: 1.5px solid black;
    border-top: 1.5px solid black;
}

.add-icon1 i {
    font-size: 40px;
    
}
.add-icon1 p{
    
    width: 300px;
    font-size: 15px;
    padding-top: 2.5rem;
    padding-right: 40px;
    font-weight: 300;
    


}




















footer {
    margin-top: 15px;
 }

 .foot-panel1 {
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
 }

 .foot-panel2 {
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
 }

 ul {
    margin-top: 20px;
 }

 ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 12px;
    color: #dddddd;
    text-decoration: none;
 }

 .foot-panel3 {
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .logo {
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
 }

 .foot-panel4 {
    background-color: #0f1111;
    color: white;
    height: 100px;
    font-size: 0.7rem;
    text-align: center;
 }

 .pages {
    padding-top: 25px;
 }

 .copyright {
    padding-top: 5px;
 }

